/* Blank .css file */
body{
  font-family:sans-serif;
  margin:0;
  background-color:#313131;
}

.header{
   padding:10px;
   background-image: url(../images/background.jpg);
   background-position: center;
   background-size: cover;
   color:white;
   text-align:center;
}

h3 {
  font-weight:100;
}



.header h1{
  font-weight:200;
  letter-spacing:14px;
  font-size:36px;
  margin-top:20px;
  margin-bottom:20px;
}
.header h2{
  font-weight:100;
  letter-spacing:2px;
}
.header img{
  margin-top:20px;
  border-radius:50%;
  border:6px solid #717171;
}

.about{
  padding:30px 50px;
  background-color:white;
}


.skills{
  padding:30px 50px;
  background-color:#BADBCD;
}

.hobbies{
  background-color:white;
  padding:30px 50px;

}

.footer{
  text-align:center;
  background-color:#313131;
  color:white;
  padding:20px 0;
}




